SUBSYSTEM=="usb", ATTR{idVendor}=="040e", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="1d6b", MODE="0002", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="8087", MODE="0026", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="1ea7", MODE="0064", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="1d6b", MODE="0003", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="0408", MODE="5423", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="0951", MODE="1666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="040e", MODE="f408", GROUP="plugdev"
